<nav class="navbar fixed-top navbar-expand-lg navbar-dark navbar-bg-custom border-bottom" data-bs-theme="dark">
  <div class="container-fluid">
    <i class="bi bi-cart navbar-brand"></i>
    <a class="navbar-brand" [routerLink]="['/dashboard']">Fashion Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/dashboard']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/cartItems']">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/userOrders']">Orders</a>
        </li>
      </ul>
      <form class="d-flex" role="search" (ngSubmit)="navigateToSearch()">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="brandName" name="brandName">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i> {{getGreetingMessage()}}, {{name}}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" [routerLink]="['/profile/edit']">Edit Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><button (click)="logout()" class="dropdown-item text-danger">
              <i class="bi bi-box-arrow-right"></i> Log Out
            </button></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>




